@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optimizaciones manuales */
:root {
  scroll-behavior: smooth;
}

/* Ajustes específicos para scroll suave en desktop */
@media (min-width: 768px) {
  html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  body {
    overflow-y: auto;
    overscroll-behavior-y: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e6c656;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #d4af37;
  }
  
  /* Estilos específicos para la clase desktop-scroll */
  .desktop-scroll {
    scroll-behavior: smooth;
  }
  
  .desktop-scroll body {
    will-change: scroll-position;
    perspective: 1000;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform-style: preserve-3d;
  }
  
  .desktop-scroll section {
    transform: translateZ(0);
    will-change: transform;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}